import type { {{name}}Props } from './{{name}}.types'
import styles from './{{name}}-styles.module.css'

export function {{name}}({ value }: {{name}}Props) {
  return (
    <div className={styles.{{name}}Container}>
      <h1>{{name}}</h1>
      <h2>{value}</h2>
    </div>
  )
}
